<% @messages.each do |message| %>
<div class="col-md-4">
<div class ="message">



<h2 class= "message-title"><%= message.title %></h2>
<%= link_to "View Message", message_path(message), class: "btn-custom" %>
</div>
</div>

<% end %>

